<div id="user_sign_in_alerts" class="alert alert-danger d-none" role="alert">
	<strong>Alert:</strong>
	<ul></ul>
</div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: !!remote, html: {id: 'user_sign_in', data: {type: :json}}) do |f| %>
	<div class="form-inputs">
		<%= f.input :email, required: true, autofocus: true, label: 'Email', input_html: {autocomplete: "email"} %>
		<%= f.input :password, required: true, label: 'Password', input_html: {autocomplete: "off"} %>
		<%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
	</div>

	<div class="form-actions">
		<% if !!remote %>
			<%= link_to 'Forgot your password?', '#', class: 'btn', data: {dismiss: 'modal', toggle: 'modal', target: '#user-forgot-password-modal'} %>
		<% else %>
			<%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'btn' %>
		<% end %>
		<%= f.button :submit, "Log in", class: 'pull-right' %>
	</div>
<% end %>

<script>
	<% if !!remote %>
	new LASeR.Authentication.Sessions;
	<% end %>
</script>
